/* navbar */
button {
    margin-left: 35px;
    background-color: magenta;
    padding: 8px;
    border-radius: 30px;
    color: black;
    font-size: 18px;
    font-weight: bolder;

}

.com {
    color: magenta;
    font-weight: bold;
    font-family: "Oleo Script", system-ui;
}
/* navbar */


strong{
    font-family: "Oleo Script", system-ui;
}


/* footer */
.fa-brands{
    margin-right: 30px;
    
}
.fa-brands a:hover{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    color: navy;
}
/* footer */